<article class="items" >
<% @items.each_with_index do |item, index| %>
	<section class="item <%= (index % 2) == 1 ? "odd" : "even"%>" id="sect_<%= item['id'] %>" >
		<div class="container">
			<div id="item">
				<h1><%= item['title']%></h1>
				
			</div>
		</div>
		<div class="itemContent">
			<span class="description" ><%= item['description'] %></span>
			<span class="summary" ><%= item['summary'] %></span>
			<div class="full-info">
				<%= render_powerhouse_content('full info', item).html_safe %>
			</div>
			<div class="images">
				<%= render_powerhouse_images('images', item).html_safe %>
			</div>
		</div>
	</section>
<% end %>
</article>
